.cont-app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cont-header {
  padding: 1em;
  background-color: #F29F05;
  color: white;
  height: 100px;
  display: flex;
}

.cont-main {
  padding: 2em;
  background-color: aliceblue;
  flex: 1;
  display: flex;
}

.botoes-nav {
  padding: 1em;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s;
}

.botoes-nav:hover {
  color: white;

}
nav h1{
  cursor: pointer;
}